{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="text-center pt-16 md:pt-32 pb-16">
		<h1 class="font-regular break-normal text-3xl md:text-5xl">Edit category</h1>
	</div>
    {% include 'category/_form.html.twig' %}
{% endblock %}