{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="text-center pt-16 pb-16">
        <h1 class="font-bold break-normal text-3xl md:text-5xl">Show newsletter {{newsletter.id}}</h1>
    </div>
    <div class="flex justify-center pt-8 md:pt-8 pb-8">
        <a href="#" class="block p-6 max-w-3xl bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ newsletter.title }}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{ newsletter.content }}</p>
        </a>
    </div>
    <div class="flex justify-center align-center">
        <a href="{{ path('admin_newsletter_list') }}">
            <button class="mx-1 bg-green-500 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Back to newsletter list</button>
        </a>
    </div>
{% endblock %}