{% extends 'admin/base.html.twig' %}

{% block main %}
<div class="bg-white p-8 rounded-md w-full">
	<div class=" flex items-center justify-between pb-6">
		<div>
			<h2 class="text-gray-600 font-semibold">Newsletter Subscribers</h2>
			<span class="text-xs">Total newsletter subscribers : {{ totalElements }} </span>
		</div>
		<div class="flex items-center justify-between">
				<div class="lg:ml-40 ml-10 space-x-8">
					<a href="{{ path('admin_newsletter_list')}}">
                        <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer"><span><i class="fa-solid fa-right-to-bracket mr-1"></i></span> Back to newsletter list</button>
                    </a>
				</div>
			</div>
		</div>
		<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					{% if newsletterSubscribers %}
					<table class="min-w-full leading-normal table-auto">
						<thead>
							<tr>
								<th class="w-10 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									#
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Email
								</th>
							</tr>
						</thead>
						<tbody>
                            {% for subscriber in newsletterSubscribers %}
							<tr>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap font-bold">{{ loop.index + (currentPageNumber - 1) * totalElementsPerPage}}</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap font-bold">{{ subscriber.email }}</p>
								</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
						<!-- Paginator -->
						{% include 'admin/_paginator.html.twig' %}
						<!-- /Paginator -->
					{% else %}
					<div class="text-center py-16">
						<h1 class="font-bold break-normal text-2xl md:text-2xl">There is no newsletter subscribers yet ! Wait they fill the newsletter form !</h1>
					</div>					
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}